[Desktop Entry]
Name=Move Window to Center of Specified Monitor
Comment=Centers the active window in the Specified Monitor.
Icon=preferences-system-windows-move

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=GuannanHu
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name= MoWinToCenAP
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
